<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../adminFrame/head.ejs')%>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <%-include('../adminFrame/nav.ejs')%>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">회원 관리 페이지</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            회원 리스트
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row" style="margin-bottom:15px">
                                <div class="col-lg-12">
                                    <form method="get" action="/admin/member" id="searchForm" class="form-3" style="float:right; display:flex;">
                                        <input type="hidden" name="page" id="pageIndex" value="0">
                                        <select name="type" class="form-control input-sm" style="margin-right:10px;width:150px; height:30px;">
                                            <option value="id" <% if(searchType == 'id'){ %> selected  <% } %>>아이디</option>
                                            <option value="name" <% if(searchType == 'name'){ %> selected  <% } %>>이름</option>
                                            <option value="nick" <% if(searchType == 'nick'){ %> selected  <% } %>>닉네임</option>
                                            <option value="number" <% if(searchType == 'number'){ %> selected  <% } %>>전화번호</option>
                                        </select>
                                        <input type="text" class="form-control input-sm"  name="searchWord" style="width:150px;margin-right:10px;" value="<%=search%>">
                                        <button class="btn btn-default" style="padding:4px 12px;">검색</button>
                                    </form>
                                </div>
                            </div>
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead style="background:rgb(243, 243, 243); font-weight: bold">
                                    <tr>
                                        <td>아이디</td>
                                        <td>이름</td>
                                        <td>닉네임</td>
                                        <td>등급</td>
                                        <td>가입일</td>
                                        <td>전화번호</td>
                                        <td>포인트</td>
                                        <td>비고</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <% if (rows.length != 0) {%>
                                    <tr id = "result">
                                            <% for(var i = 0; i < rows.length ; i++) {  
                                                var list = rows[i];
                                                %>
                                            <td><%= list.id %></td>
                                            <td><%= list.name %></td>
                                            <td><%= list.nick %></td>
                                            <td><%= list.ranking %></td>
                                            <td><script>document.write(dateFormat('<%=list.rdate%>'))</script></td>
                                            <td><%= list.number.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`) %></td>
                                            <td><%= list.point %> P</td>
                                            <td><button type="button" class="btn btn-primary" style="padding:4px 12px;" onclick="location.href='/admin/member_detail?idx=<%= list.idx%>';">상세정보</button></td>
                                    </tr>                       
                                        <% } %>
                                            <% } else {%>
                                                <table><div style = "text-align:center;">검색 결과가 없습니다.</div></table>
                                        <% } %>
                                </thead>
                            </table>
                            <div class="text-left">
                                <td colspan="2">
                                    <td><button class="btn btn-warning" onclick="location.href='/admin/member_write'">등록하기</button></td>
                                </td>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="text-center">
                                <div class="panel-body">
                                    <!-- Nav tabs -->
                                    <ul class="pagination">
                                        <% if(page == 0) { %>
                                            <li class="paginate_button"><a href="javascript:void(0)">&laquo;</a></li>
                                        <% }else { %>
                                            <li class="paginate_button"><a href="javascript:paging(<%=page-1%>)">&laquo;</a></li>
                                        <% } %>
                                        <% if(Math.ceil(totalitems/countperpage) == 0) { %>
                                            <li class="paginate_button active"><a href="javascript:paging(<%=0%>)" class="page">1</a></li>
                                        <% }else { %>
                                        <%  for(var j = 0; j < Math.ceil(totalitems/countperpage) ; j++){  %>                                            
                                            <li class="paginate_button <% if (page == j) { %> active<%}%>"><a href="javascript:paging(<%=j%>)" class="page"><%= j + 1 %></a></li>
                                        <%}%>         
                                        <%}%>                                           
                                        <% if(page+1 == Math.ceil(totalitems/countperpage)) { %>
                                            <li class="paginate_button"><a href="javascript:void(0)">&raquo;</a></li>
                                        <% }else { %>
                                            <li class="paginate_button"><a href="javascript:paging(<%=page+1%>)">&raquo;</a></li>
                                        <% } %>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <%-include('../adminFrame/footer.ejs') %>
</body>
</html>
<script>  
  function paging(num){      
      $("#pageIndex").val(num);      
      $("#searchForm").submit();
  }
</script>