<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../adminFrame/head.ejs') %>
</head>

<body>
    <div id="wrapper">
        <%-include('../adminFrame/nav.ejs') %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">메뉴 상세정보</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            메뉴 세부사항
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form id="reservationForm" role="form">
                                <div class="row" style="margin-bottom:15px">
                                    <div class="col-lg-5">
                                        <input type="hidden" name="idx" value="<%=info.idx%>">
                                        <div class="form-group">
                                            <label>메인사진</label>
                                            <div><img src="/<%= info.pic %>" width="150px;"/></div>
                                        </div>
                                        <div class="form-group">
                                            <label>메뉴명</label>
                                            <div><%= info.name %></div>
                                        </div>
                                        <div class="form-group">
                                            <label>카테고리</label>
                                            <div><%= info.category %></div>
                                        </div>
                                        <div class="form-group">
                                            <label>가격</label>
                                            <div><%= info.price %>원</div>
                                        </div>
                                        <div class="form-group">
                                            <label>품절 여부</label>
                                            <% if( info.sell == 0) { %>
                                                <div>품절</div>
                                            <%} else if( info.sell == 1) {%>
                                                <div>판매중</div>
                                            <%}%>
                                        </div>
                                        <div class="form-group">
                                            <label>등록일</label>
                                            <div><%= info.udate.toLocaleString() %></div>
                                        </div>
                                    </div>    
                                </div>
                                <tr>
                                    <td colspan="2">
                                        <td><button type="button" class="btn btn-primary" style="padding:4px 12px;" onclick="location.href='/admin/menu';">목록</button></td> 
                                        <td><button type="button" class="btn btn-warning" style="padding:4px 12px;" onclick="location.href='/admin/menu_update?idx=<%= info.idx %>';">수정</button></td>
                                        <td><button type="button" class="btn btn-danger" style="padding:4px 12px;" onclick= "fileDelete('<%= info.idx%>')">삭제</button></td>
                                    </td>
                                </tr>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<%-include('../adminFrame/footer.ejs')%>
<script>
 function fileDelete(idx){
        if(confirm("삭제하시겠습니까?")){
            $.ajax({
                type : 'get' , 
                url : '/admin/deleteMenu?idx='+idx , 
            }).done(function(data){                
                alert(data.msg);
                if(data.result == 'success'){
                    location.href='/admin/menu'
                }            
            }).fail(function(e){
                    console.log(JSON.stringify(e));
            })            
        }
}
</script>