<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../adminFrame/head.ejs') %>
</head>

<body>
    <div id="wrapper">
        <%-include('../adminFrame/nav.ejs') %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">직원정보 상세보기</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            직원 정보 세부사항
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form id="staffForm" role="form">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="hidden" name="idx" value="<%=rows.idx%>">
                                        <div class="form-group">
                                            <label>이름</label>
                                            <div><%= rows.name %></div>
                                        </div>
                                        <div class="form-group">
                                            <label>전화번호</label>
                                            <div><%= rows.number.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`) %></div>
                                        </div>
                                    </div>        
                                    <!-- /.col-lg-5 (nested) -->
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>생년월일</label>
                                            <div><script>document.write(dateFormat('<%=rows.birth%>'))</script></div>
                                        </div>
                                        <div class="form-group">
                                            <label>고용일</label>
                                            <div><script>document.write(dateFormat('<%=rows.hdate%>'))</script></div>
                                        </div>
                                        <div class="form-group">
                                            <label>주소</label>
                                            <div><%= rows.address %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:15px">
                                    <div class="col-lg-6">
                                        <br>
                                        <label>기타 특이사항</label>
                                        <textarea class="form-control" name="memo" rows="7" style="overflow-y:scroll" value = "<%= rows.etc %>" readonly><%= rows.etc %></textarea>
                                    </div>
                                </div>
                                <div class="text-left">
                                    <td colspan="2">
                                        <td><button type="button" class="btn btn-primary" style="padding:4px 12px;" onclick="location.href='/admin/staff';">목록</a></button></td> 
                                        <td><button type="button" class="btn btn-warning" style="padding:4px 12px;" onclick="location.href='/admin/staff_update?idx=<%= rows.idx %>';">수정</button></td>
                                        <td><button type="button" class="btn btn-danger" style="padding:4px 12px;" onclick= "deletePop()">삭제</button></td>
                                    </td>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<%-include('../adminFrame/footer.ejs')%>
<script>
function deletePop() {
    if(confirm('정말 삭제하시겠습니까?')){
        location.href='/admin/deleteStaff?idx=<%= rows.idx %>'
    } else {
        return false;
    }
}
</script>